@use "global" as *;
.information-body.fish-icon::before {
	top: rem(-24);
	@include mq(md){
		top: rem(-67);
	}
}

.information-body__tabs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: rem(19);
	@include mq(md){
		flex-wrap: nowrap;
		gap: rem(90);
	}
}

.information-body__tab {
	width: rem(102);
	@include mq(md){
		width: rem(300);
	}

}
.information-body__tab a {
	background: $green2;
	color: $green1;
	padding: rem(10) 0;
	font-size: rem(14);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	@include mq(md){
		font-size: rem(24);
		padding: rem(13) 0;
	}
}

.information-body__tab.current a {
	background: $green1;
	color: $white;
}

.information-body__tab a::before {
	@include mq(md){
		content: "";
		width: rem(64);
		height: rem(64);
		margin-right: rem(8);
	}
}

.information-body__tab:first-child a::before {
	@include mq(md){
		background: url(../images/common/whale-green.png) no-repeat;
		background-size: contain;
	}
}

.information-body__tab:nth-child(2) a::before {
	@include mq(md){
		background: currentColor;
		mask-image: url(../images/common/shark-icon.svg);
		mask-repeat: no-repeat;
		-webkit-mask-image: url(../images/common/shark-icon.svg);
		-webkit-mask-repeat: no-repeat;
	}
}

.information-body__tab:nth-child(3) a::before {
	@include mq(md){
		background: currentColor;
		mask-image: url(../images/common/seafood-icon.svg);
		mask-repeat: no-repeat;
		-webkit-mask-image: url(../images/common/seafood-icon.svg);
		-webkit-mask-repeat: no-repeat;
	}
}

.information-body__tab.current:first-child a::before {
	@include mq(md){
		background: url(../images/common/whale-white.png) no-repeat;
		background-size: contain;
	}
}

.information-body__content-wrap {
	display: none;
	margin-top: rem(16);
	@include mq(md){
		margin-top: rem(24);
	}
}