@use "global" as *;

.side-bar {
	padding: 0 rem(25);
	@include mq(md){
		padding: 0;
	}
}

.side-bar__item:nth-child(n+2) {
	margin-top: rem(80);
}

.side-bar__content {
	margin-top: rem(24);
}

.side-bar__button {
	margin-top: rem(40);
	text-align: center;
}