@use "global" as *;

.voice__inner {
	padding-bottom: rem(84);
	position: relative;
	@include mq(md){
		padding-bottom: rem(140);
	}
}

.voice__inner::before {
	@include mq(md){
		display: inline-block;
		content: '';
		width: rem(301);
		height: rem(138);
		background: url(../images/common/fish01.png) no-repeat;
		background-size: contain;
		position: absolute;
		top: rem(-120);
		left: calc(50% - min(50vw,rem(620)));
		transform: scaleX(-1);
	}
}

.voice__inner::after {
	@include mq(md){
		display: inline-block;
		content: '';
		width: rem(71);
		height: rem(162);
		background: url(../images/common/tatsunootoshigo.png) no-repeat;
		background-size: contain;
		position: absolute;
		bottom: rem(73);
		right: calc(50% - min(50vw, rem(540)));
	}
}

.voice__cards {
	margin-top: rem(43);
	@include mq(md){
		margin-top: rem(30);
		display: flex;
		justify-content: center;
	}
}

.voice-cards__item:nth-child(n+2) {
	margin-top: rem(40);
	@include mq(md){
		margin-top: 0;
		margin-left: rem(40);
	}
}

.voice__link {
	text-align: center;
	margin-top: rem(39);
	@include mq(md){
		margin-top: rem(80);
	}
}